a, a:link
	cursor pointer

footer
  color #CCC

.masthead
  border-bottom 1px solid #DDD

pre.highlighted
  background-color #000

.container-narrow
  max-width 700px
  margin 0 auto

.normal
  font-weight normal

table
	tfoot, tbody
		th
			border-top 1px solid #DDD
